
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgba(182, 218, 245, 0.63);
}

.form-container {
  max-width: 400px;
  margin: 60px auto;
  background: #a1ced9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


button, .ant-btn {
  width: 100%;
  height: 40px;
  font-weight: 600;
}


.form-container p {
  margin-top: 15px;
  text-align: center;
}

.form-container a {
  color: #a1ced9;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}


.book-list-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.book-list-container h2 {
  margin-bottom: 20px;
}

.book-card {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.book-form {
  max-width: 500px;
  margin: 50px auto;
  background: #a1ced9;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.book-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}

.book-form .form-group {
  margin-bottom: 18px;
}

.book-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

